form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    font-size: 16px;

    input {
      margin-top: 5px;
      padding: 10px;
      font-size: 16px;
      border: 1px solid orangered;
      border-radius: 5px;

      &:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px #007bff;
      }
    }

    div {
      margin-top: 5px;
      color: blueviolet;
      font-size: 14px;
    }
  }

  .updateButton {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }

  .deleteButton {
    padding: 10px 20px;
    font-size: 16px;
    margin: 9px 0 0 0;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
  }
}
